<h1>discussions</h1>

<table class="table table-bordered" id="topic-table">
  <thead>
  	<tr>
  		<th>Discussion</th>
  		<th>Info</th>
  	</tr>
  </thead>
  <tbody>
  	<% @discussions.each do |discussion| %>
  	<tr>
  		<td>
  			<%= link_to discussion.name, discussion_path(discussion) %>
  			<br />
  			Description: <i><%= discussion.description %></i>
  		</td>
  		<td>

  		</td>
  	</tr>
  	<% end %>
  </tbody>
</table>